@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

:root{
    --text-color-header: #fff;
}

body {
    display: flex;
    height: 100vh;
}

header {
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: clamp(600px, 35vw, 800px);
}


.logo {
    display: flex;
    justify-content: center;
    align-items:center;
    background: rgb(0, 0, 0, 0.3);
    margin: auto 0;
}

.logo > p {
    font-family: norseBold;
    color: var(--text-color-header);
    font-size: 5rem;

}

.logo > img {
    width: 5rem;
    height: auto;
}

.copyright {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: auto;
} 

.copyright p {
    text-align: center;
    color: var(--text-color-header);
}

.copyright a {
    text-decoration: none;
    color: var(--text-color-header);
}